.person{
	display: flex;
	align-items: flex-start;
	margin-bottom: 24px;
		&-thumb{
			width: 48px;
			height: 48px;
			min-width: 48px;
			border-radius: 50%;
			margin-right: 14px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center bottom;
			background-image: url(../images/avatar.svg);
			background-color: var(--color-primary);
			position: relative;
			display: block;
				&-mask{
					position: absolute;
					inset: 0;
					background-color: var(--color-primary);
					font-size: 24px;
					line-height: 24px;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					font-family: var(--font-base-medium);
					border-radius: 50%;
				}
				&-upload{
					position: absolute;
					bottom: -16px;
					left: 50%;
					transform: translateX(-50%);
					width: 32px;
					height: 32px;
					min-width: 32px;
					border-radius: 50%;
					background-color: var(--color-white);
					box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
					z-index: 1;
					display: flex;
					align-items: center;
					justify-content: center;
						.svg{
							color: var(--color-primary);
						}
				}
				&.person-toggle-modal{
					cursor: pointer;
				}
				img{
					@include imageCover(center);
					border-radius: 50%;
				}
				@include d($sm){
					width: 48px;
					height: 48px;
					min-width: 48px;
				}
				&.__event{
					border-radius: 10px;
						img{
							border-radius: 10px;
						}
				}
				&.__80,
				&.__90{
					.person{
						&-thumb{
							&-mask{
								font-size: 36px;
								line-height: 36px;
							}
						}
					}
				}
				&.__80{
					width: 80px;
					height: 80px;
					min-width: 80px;
				}
				&.__90{
					width: 90px;
					height: 90px;
					min-width: 90px;
				}
		}
		&-description{
				&-title{
					margin-bottom: 4px;
						&.person-toggle-modal{
							cursor: pointer;
								@include hover($md){
									&:hover{
										text-decoration: underline;
									}
								}
						}
				}
				&-item{
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
				}
				&-subtitle{
				
				}
				&-status{
					display: flex;
					align-items: center;
					line-height: 1.6em;
					font-size: 10px;
					text-transform: uppercase;
					font-family: var(--font-base-bold);
					color: var(--color-gray-800);
						.svg{
							margin-right: 8px;
						}
				}
		}
		&-checkbox{
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
		&-header{
			@include d($sm){
				display: flex;
				align-items: center;
				margin-bottom: 8px;
			}
		}
		&-action{
			border-top: 1px var(--color-gray-700) solid;
			margin-top: 20px;
			padding-top: 14px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding-left: 20px;
				.link{
					font-size: 12px;
					font-family: var(--font-base);
						&-icon{
							& ~ .link-title{
								margin-left: 9px;
							}
						}
						&:not(:last-child){
							margin-bottom: 8px;
								@include d($sm){
									margin-right: 16px;
								}
						}
				}
				@include d($lg){
					padding-left: 5px;
				}
				@include d($sm){
					border-top: none;
					padding-left: 0;
					padding-top: 0;
					flex-direction: row;
					flex-wrap: wrap;
				}
		}
}