.leaves{
	margin-top: 51px;
	height: calc(100% - 51px);
	padding-left: 5px;
		&:before{
			content: '';
			position: absolute;
			right: -35px;
			top: 44%;
			width: 100px;
			height: 100px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			background-image: url(../images/abstract/leaf.svg);
		}
		.box{
			opacity: 0;
			padding: 25px 30px 15px;
				&-header{
					padding: 16px 0 26px;
						@include d($xl){
							padding: 16px 0 23px;
						}
				}
				&-body{
					height: calc(100% - 78px);
						@include d($xl){
							margin: 0 -22px;
							padding-bottom: 0;
						}
						@include d($sm){
							margin: 0;
						}
				}
				.splide__list{
						@include m($xl + 1){
							flex-direction: column;
						}
						@include d($sm){
							flex-direction: column;
						}
				}
				@include d($xl){
					padding: 18px 25px 0;
				}
				@include d($sm){
					padding: 18px 15px 15px;
				}
		}
		.event{
				@include d($xl){
					max-width: 370px;
					margin: 0 3px 0 10px;
				}
				@include d($sm){
					max-width: 100%;
					width: 100%;
					margin: 0 0 10px;
					padding: 0 0 5px;
				}
		}
		.scroll-wrap{
			@include d($sm){
				padding-right: 10px;
				margin-right: -10px;
				height: 400px;
			}
		}
		@include d($xl){
			margin-top: 32px;
			height: auto;
			padding-left: 0;
		}
		@include d($sm){
			display: none;
			margin-top: 7px;
		}
}