.h-1{
  @extend h1;
}

.h-2{
  @extend h2;
}

.h-3{
  @extend h3;
}

.h-4{
  @extend h4;
}

.h-5{
  @extend h5;
}

.h-6 {
  @extend h6;
}

.paragraph{
  font-size: inherit;
  line-height: inherit;
    &-md{
      font-size: 12px;
      line-height: 1.31em;
    }
    &-lg{
      font-size: 18px;
      line-height: 1.11em;
    }
    &-italic{
      font-size: 14px;
      line-height: 1.4em;
      font-family: var(--font-base-italic);
    }
    &-medium{
      font-family: var(--font-base-medium);
    }
    &-status{
      position: relative;
      padding-left: 16px;
        &:before{
          content: '';
          position: absolute;
          top: 5px;
          left: 0;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: var(--color-gray-700);
          pointer-events: none;
        }
        &.primary{
          &:before{
            background-color: var(--color-primary);
          }
        }
        &.alumni{
          &:before{
            background-color: var(--color-alumni);
          }
        }
        &.clubs{
          &:before{
            background-color: var(--color-clubs);
          }
        }
        &.local{
          &:before{
            background-color: var(--color-local);
          }
        }
        &.greek-life{
          &:before{
            background-color: var(--color-greek);
          }
        }
        &.majors{
          &:before{
            background-color: var(--color-majors);
          }
        }
        &.events{
          &:before{
            background-color: var(--color-events);
          }
        }
    }
}

.color{
    &-primary{
      color: var(--color-primary) !important;
        /*
        Open event leaf
         */
        .event-leaf{
          &-body{
            fill: var(--color-primary);
          }
          &-stroke{
            fill: var(--color-primary-dark);
          }
        }
    }
    &-alumni{
      color: var(--color-alumni) !important;
        &-dark{
          color: var(--color-alumni-dark) !important;
        }
        &-hover{
          @include hover($md){
            &:hover{
              color: var(--color-alumni) !important;
            }
          }
        }
        /*
        Open event leaf
         */
        .event-leaf{
          &-body{
            fill: var(--color-alumni);
          }
          &-stroke{
            fill: var(--color-alumni-dark);
          }
        }
    }
    &-greek-life{
      color: var(--color-greek) !important;
        &-dark{
          color: var(--color-greek-dark) !important;
        }
        /*
        Open event leaf
         */
        .event-leaf{
          &-body{
            fill: var(--color-greek);
          }
          &-stroke{
            fill: var(--color-greek-dark);
          }
        }
    }
    &-majors{
      color: var(--color-majors) !important;
        &-dark{
          color: var(--color-majors-dark) !important;
        }
        /*
        Open event leaf
         */
        .event-leaf{
          &-body{
            fill: var(--color-majors);
          }
          &-stroke{
            fill: var(--color-majors-dark);
          }
        }
    }
    &-events{
      color: var(--color-events) !important;
        &-dark{
          color: var(--color-events-dark) !important;
        }
        /*
        Open event leaf
         */
        .event-leaf{
          &-body{
            fill: var(--color-events);
          }
          &-stroke{
            fill: var(--color-events-dark);
          }
        }
    }
    &-local{
      color: var(--color-local) !important;
        &-dark{
          color: var(--color-primary) !important;
        }
        /*
        Open event leaf
         */
        .event-leaf{
          &-body{
            fill: var(--color-local);
          }
          &-stroke{
            fill: var(--color-primary);
          }
        }
    }
    &-clubs{
      color: var(--color-clubs) !important;
        &-dark{
          color: var(--color-clubs-black) !important;
        }
        /*
        Open event leaf
         */
        .event-leaf{
          &-body{
            fill: var(--color-clubs);
          }
          &-stroke{
            fill: var(--color-clubs-black);
          }
        }
    }
}

.fullwidth{
  width: 100%;
}

.phone{
    &-block{
      @include d($sm){
        display: block !important;
      }
    }
}

.sm-d-none{
  @include d($sm){
    display: none;
  }
}

.hidden{
  display: none !important;
}