:root {
  --color-black:                          #000000;
  --color-white:                          #FFFFFF;
  --font-base:                            'ModernaSans-Regular';
}

$hoverWidth:                              991;
$xlg:                                     1500;
$lg:                                      1330;
$xl:                                      1199;
$md:                                      991;
$sm:                                      767;
$xs:                                      575;