:root {
  --color-black:                          #191919;
  --color-black-100:                      #232323;
  --color-white:                          #FFFFFF;
  --color-gray-800:                       #8C8C8C;
  --color-gray-700:                       #D1D1D1;
  --color-gray-600:                       #DDDDDD;
  --color-gray-500:                       #E8E8E8;
  --color-gray-400:                       #F3F3F3;
  --color-gray-300:                       #F9F9F9;
  --color-primary:                        #008037;
  --color-alumni:                         #EC602D;
  --color-alumni-dark:                    #CB4413;
  --color-local:                          #49B34F;
  --color-majors:                         #8E8BCD;
  --color-majors-dark:                    #7B78BF;
  --color-greek:                          #FEC736;
  --color-greek-dark:                     #F2B000;
  --color-clubs:                          #3090CC;
  --color-clubs-black:                    #007ECD;
  --color-events:                         #62BB9D;
  --color-events-dark:                    #479D80;
  --font-base:                            'ModernaSans-Regular', sans-serif;
  --font-base-bold:                       'ModernaSans-Bold', sans-serif;
  --font-base-medium:                     'ModernaSans-Medium', sans-serif;
  --font-base-italic:                     'ModernaSans-RegularIt', sans-serif;
  --hover-duration:                       .2s;
  --hover-ease:                           ease;
}

$lg:                                      1330;
$xl:                                      1199;
$md:                                      991;
$sm:                                      767;
$xs:                                      575;