h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}

h1, h2, h3, h4, h5, h6 {
		strong, b{
			font-weight: normal;
		}
}

p, li, span{
	font-size: inherit;
		strong, b{
			font-weight: normal;
		}
}

a{
	color: inherit;
}