h1{
	font-family: var(--font-base-medium);
	font-size: 36px;
	line-height: 1em;
}

h2{
	font-family: var(--font-base-medium);
	font-size: 24px;
	line-height: 1em;
}

h3{
	font-family: var(--font-base-medium);
	font-size: 18px;
	line-height: 1.15em;
}

h4{
	font-family: var(--font-base-medium);
	font-size: 14px;
	line-height: 1.2em;
}

h5{
	font-family: var(--font-base-bold);
	font-size: 10px;
	line-height: 1.2em;
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
		strong, b{
			font-weight: normal;
		}
}

p, li, span{
	font-size: inherit;
		strong, b{
			font-weight: normal;
		}
}

a{
	color: inherit;
}