.faq-list{
  margin: 0 0 16px 0;
  padding: 0 34px;
  border-radius: 20px;
  background: linear-gradient(174.37deg, rgba(255, 255, 255, 0.4) 1.7%, rgba(255, 255, 255, 0.1) 96.97%);
  box-shadow: 0px 9px 18px rgba(6, 73, 35, 0.12);
  backdrop-filter: blur(3px);
  &.active{
    .faq-list{
      &__content{
        display: block;
      }
    }
    .faq-cross{
      transform: translateY(-50%) rotate(90deg);
      span{
        &:nth-child(1){
          opacity: 0;
        }
      }
    }
  }
  &:last-child{
    margin: 0;
  }
  &__title{
    position: relative;
    padding: 24px 0 16px 0;
    p{
      padding: 0 100px 0 0;
    }
  }
  &__content{
    display: none;
    padding: 0 0 24px 0;
    border-top: 1px solid var(--color-gray-700);
    li{
      margin: 16px 0 25px 0;
      &:last-child{
        margin: 16px 0 10px 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .faq-list{
    &__title{
      p{
        padding: 0 50px 0 0;
      }
    }
  }
}

@media (max-width: 474px) {
  .faq-list{
    &__title{
      p{
        padding: 0 40px 0 0;
      }
    }
  }
}