@import "faq-list";
.faq{
  margin: 119px 0 50px 0;
  &-wrapper{
  position: relative;
  }
  &-green-leaf{
    position: absolute;
    top: 240px;
    left: 451px;
    width: 90px;
    height: 90px;
  }
  &-yellow-leaf{
    position: absolute;
    top: 470px;
    left: 565px;
    width: 180px;
    height: 180px;
  }
  &-description{
    p{
      margin: 6px 0 40px 0;
      font-size: 14px;
      line-height: 140%;
    }
  }
}

@media (max-width: 1023px) {
  .faq{
    &-green-leaf{
      left: 85px;
    }
    &-yellow-leaf{
      left: 240px;
    }
  }
}

@media (max-width: 767px) {
  .faq{
    margin: 50px 0 30px 0;
  }
}

@media (max-width: 474px) {
  .faq{
    &-yellow-leaf{
      left: 150px;
    }
  }
}
