@import "faq-list";
.faq{
  margin: 119px 0 50px 0;
  &__wrapper{
  position: relative;
  }
  &__green-leaf{
    position: absolute;
    top: 240px;
    left: 451px;
    width: 90px;
    height: 90px;
  }
  &__yellow-leaf{
    position: absolute;
    bottom: 62px;
    left: 565px;
    width: 180px;
    height: 180px;
  }
  &__title{
    margin: 0 0 40px 0;
    p{
      margin: 6px 0 0 0;
      font-size: 14px;
      line-height: 140%;
    }
  }
}

@media (max-width: 1023px) {
  .faq{
    &__green-leaf{
      left: 85px;
    }
    &__yellow-leaf{
      left: 240px;
    }
  }
}

@media (max-width: 474px) {
  .faq{
    &__yellow-leaf{
      left: 150px;
    }
  }
}
