.upload-container{
	display: flex;
	align-items: center;
		.input-container-file{
			& ~ .input-container-checkbox{
				margin-left: 80px;
					@include d($xl){
						margin-left: 20px;
					}
					@include d($sm){
						margin-left: 0;
						margin-top: 40px;
					}
			}
		}
		@include d($xl){
			margin-bottom: 40px;
		}
		@include d($sm){
			padding-top: 8px;
			flex-direction: column;
			align-items: flex-start;
		}
}

.create{
		&-row{
			display: flex;
			flex-wrap: wrap;
				&-item{
					padding: 0 16px;
						&.__full{
							flex: 1;
						}
						&:nth-child(1){
							padding-left: 0;
						}
						&:last-child{
							padding-right: 0;
						}
						.btn{
							@include m($sm + 1){
								max-width: 180px;
								width: 100vw;
							}
						}
						@include d($md){
							padding: 8px 0;
						}
				}
				@include d($md){
					flex-direction: column;
				}
				.dropdown{
						&-trigger{
								&-title{
									@include d($sm){
										width: 100%;
									}
								}
						}
						@include d($sm){
							width: 100%;
						}
				}
		}
}