body{
	background-color: var(--color-white);
	color: var(--color-black);
	font-family: var(--font-base);
	font-size: 14px;
	line-height: 1.31em;
}

#wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	overflow: hidden;
	padding-bottom: 70px;
	background-repeat: repeat;
	background-size: 100px;
	background-image: url(../images/bg-noise.jpg);
		&:before,
		&:after{
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			pointer-events: none;
		}
		&:before{
			top: 0;
			height: 154px;
			background-position: center top;
			background-image: url(../images/bg-top.jpg);
		}
		&:after{
			bottom: 0;
			height: 348px;
			background-position: center top;
			background-image: url(../images/bg-bottom.jpg);
		}
		@include d($xl){
			padding-bottom: 100px;
		}
}

[data-router-wrapper]{
	position: relative;
	z-index: 1;
}

.logo{
		@include d($xl){
			width: 80px;
			height: 80px;
		}
}

.border {
	width: 100%;
	height: 1px;
	background-color: var(--color-gray-700);
		&-vertical{
			width: 1px;
			height: 100%;
		}
}

.list{
	display: flex;
	flex-direction: column;
		&-item{
			display: block;
			font-size: 14px;
			line-height: 1.2em;
			font-family: var(--font-base-medium);
			transition: color var(--hover-duration) var(--hover-ease);
				&:not(:last-child){
					margin-bottom: 16px;
				}
				@include hover($md){
					&:hover{
						color: var(--color-primary);
					}
				}
		}
}

.scroll-wrap{
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
		/*
		Customize scrollbar
	 */
		&::-webkit-scrollbar {
			width: 4px;
		}
		&::-webkit-scrollbar-track {
			background: transparent;
		}
		&::-webkit-scrollbar-thumb {
			background: var(--color-primary);
			border-radius: 4px;
		}
}

.hr{
	border: none;
	height: 1px;
	margin: 0;
	background-color: var(--color-gray-700);
}

.tag{
	display: inline-block;
	font-size: 10px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-family: var(--font-base-bold);
	letter-spacing: .1em;
	padding: 0 5px;
	border-radius: 20px;
	color: var(--color-white);
		&-events{
			background-color: var(--color-events);
		}
		&-alumni{
			background-color: var(--color-alumni);
		}
		&-majors{
			background-color: var(--color-majors);
		}
		&-greek-life{
			background-color: var(--color-greek);
		}
		&-clubs{
			background-color: var(--color-clubs);
		}
		&-local{
			background-color: var(--color-local);
		}
}

.date,
.location{
	font-size: 12px;
	display: inline-flex;
	align-items: flex-start;
		&-icon{
			display: inline-flex;
			align-items: center;
			.svg{
				color: var(--color-primary);
			}
			& ~ .date-label,
			& ~ .location-label{
				margin-left: 8px;
			}
		}
		&-label{
			line-height: 1.3em;
				&-lg{
					font-size: 36px;
					line-height: 1em;
					white-space: nowrap;
					font-family: var(--font-base-medium);
				}
		}
}

.location{
	@extend .date;
}

.burger{
	padding: 5px;
	margin: -5px -5px -5px 20px;
	color: var(--color-primary);
	position: relative;
	z-index: 1;
		&-box{
			position: relative;
			width: 24px;
			height: 25px;
				&-arrow{
					position: absolute;
					background-color: currentColor;
					height: 3px;
					width: 100%;
					transition: all var(--hover-duration) var(--hover-ease);
						&:nth-child(1){
							top: 0;
						}
						&:nth-child(2){
							top: 11px;
								@include d($sm){
									top: 8px;
								}
						}
						&:nth-child(3){
							bottom: 0;
						}
				}
				@include d($sm){
					width: 22px;
					height: 19px;
				}
		}
		&.is-active{
			color: var(--color-black);
				.burger-box{
					&-arrow{
						&:nth-child(1){
							transform: rotate(45deg);
							top: 11px;
								@include d($sm){
									top: 8px;
								}
						}
						&:nth-child(2){
							opacity: 0;
						}
						&:nth-child(3){
							transform: rotate(-45deg);
							bottom: 11px;
								@include d($sm){
									bottom: 8px;
								}
						}
					}
				}
		}
		@include m($xl + 1){
			display: none;
		}
		@include d($sm){
			margin: -5px -5px -5px 10px;
		}
}

.search{
		@include d($sm){
			width: 40px;
		}
}

.alert{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: linear-gradient(174.37deg, rgba(255, 255, 255, 0.4) 1.7%, rgba(255, 255, 255, 0.1) 96.97%);
	box-shadow: 0 9px 18px -1px rgba(6, 73, 35, 0.12);
	backdrop-filter: blur(10px);
	border-top: 2px var(--color-white) solid;
	transform: translateY(100%);
	z-index: -3;
	opacity: 0;
	transition: transform var(--hover-duration) var(--hover-ease), opacity var(--hover-duration) var(--hover-ease);
		&-panel{
			display: flex;
			align-items: center;
			height: 100%;
				&.__start{
					justify-content: flex-start;
				}
				&.__end{
					justify-content: flex-end;
				}
		}
		.container,
		.row{
			height: 100%;
		}
		&.is-active{
			transform: translateY(0);
			z-index: 1;
			opacity: 1;
		}
}