.box{
	position: relative;
	border-radius: 20px;
	background: linear-gradient(174.37deg, rgba(255, 255, 255, 0.4) 1.7%, rgba(255, 255, 255, 0.1) 96.97%);
	box-shadow: 0 9px 18px -1px rgba(6, 73, 35, 0.12);
	backdrop-filter: blur(20px);
	padding: 15px 30px;
	z-index: 1;
	border: 2px var(--color-white) solid;
		&-bg{
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 123px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: right top;
				background-image: url(../images/abstract/box-trees.svg);
				pointer-events: none;
			}
		}
		&-header{
			padding: 5px 0;
				&-row{
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
				&-action{
					display: flex;
					align-items: center;
						.btn{
							margin: 0 8px;
								&:nth-child(1){
									margin-left: 0;
								}
								&:last-child{
									margin-right: 0;
								}
						}
				}
				.h-3{
					margin-bottom: 3px;
						@include d($xl){
							margin-bottom: 1px;
						}
				}
		}
		&-body{
			padding: 22px 0 10px;
			visibility: visible;
				.fieldset{
					padding: 16px 0;
				}
				.splide__track{
					height: 100%;
				}
				.paragraph{
					p{
						&:not(:last-child){
							margin-bottom: 20px;
						}
					}
				}
				@include d($xl){
					height: auto;
					padding: 13px 0 10px;
				}
		}
		&-thumb{
			height: 170px;
			border-radius: 10px;
			overflow: hidden;
				img{
					@include imageCover(center);
				}
		}
		&-action{
			padding-top: 10px;
		}
		&-banner{
			height: 255px;
			overflow: hidden;
			border-radius: 20px;
			margin-bottom: 30px;
				img{
					@include imageCover(center);
				}
		}
		/*
		Types
		 */
		&-dotted{
			background: transparent;
			backdrop-filter: none;
			border: 1px var(--color-gray-700) dashed;
			box-shadow: none;
		}
		.event{
			margin: 0 -10px;
			padding: 10px;
				&:not(:last-child):not(.event-open){
					margin-bottom: 12px;
				}
		}
		.scroll-wrap{
			margin: 0 -20px;
			padding: 0 20px;
				@include d($xl){
					margin: 0;
					padding: 0;
				}
		}
}

/*
Event page
 */
[data-router-view="leaf"]{
	.box{
		padding: 20px 25px;
		margin-bottom: 30px;
	}
}