.box{
	position: relative;
	border-radius: 20px;
	background: linear-gradient(174.37deg, rgba(255, 255, 255, 0.4) 1.7%, rgba(255, 255, 255, 0.1) 96.97%);
	box-shadow: 0 9px 18px -1px rgba(6, 73, 35, 0.12);
	backdrop-filter: blur(10px);
	padding: 15px 30px;
	overflow: hidden;
		&-bg{
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 123px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: right top;
				background-image: url(../images/abstract/box-trees.svg);
				pointer-events: none;
			}
		}
		&-header{
			padding: 5px 0;
				&-row{
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
				&-action{
					display: flex;
					align-items: center;
						.btn{
							margin: 0 8px;
								&:nth-child(1){
									margin-left: 0;
								}
								&:last-child{
									margin-right: 0;
								}
						}
				}
				.h-3{
					margin-bottom: 3px;
				}
		}
		&-body{
			padding: 22px 0 10px;
			height: calc(100% - 78px);
				.fieldset{
					padding: 16px 0;
				}
		}
		.event{
			margin: 0 -10px;
			padding: 10px;
				&:not(:last-child){
					margin-bottom: 12px;
				}
		}
		.scroll-wrap{
			margin: 0 -20px;
			padding: 0 20px;
		}
}