.datepicker{
	width: 414px;
		&-main{
			padding: 0;
		}
		&-cell{
			height: 40px;
			width: 40px;
			min-width: 40px;
			max-width: 40px;
			line-height: 40px;
			font-size: 14px;
			transition: color var(--hover-duration) var(--hover-ease);
				&.prev:not(.disabled),
				&.next:not(.disabled){
					color: var(--color-gray-700);
				}
				&.focused{
						&:not(.selected){
							background-color: var(--color-primary);
							color: var(--color-white);
						}
				}
				&.selected{
					background-color: var(--color-primary);
						&:hover{
							background-color: var(--color-primary);
						}
				}
				&:not(.disabled){
					&:hover{
						background-color: var(--color-primary);
						color: var(--color-white);
					}
				}
		}
		&-picker{
				span{
					border-radius: 50%;
					margin: 5px;
					flex: none;
				}
		}
		&-grid{
			width: 100%;
			padding: 0 32px;
				@include d($xs){
					padding: 0 19px;
				}
		}
		&-title{
			box-shadow: none;
		}
		&-header{
			border-bottom: 1px var(--color-primary) solid;
			.datepicker{
					&-controls{
						padding: 0 32px;
						display: flex;
						align-items: center;
							.button{
								font-weight: normal;
								transition: opacity var(--hover-duration) var(--hover-ease);
									&:not(.view-switch):hover{
										opacity: .5;
										background-color: transparent;
									}
									&.view-switch{
										&:hover{
											background-color: transparent;
											color: var(--color-black);
										}
									}
							}
					}
			}
		}
		&-controls{
				.view-switch{
					font-weight: normal;
					font-family: var(--font-base-medium);
					font-size: 18px;
					line-height: 1.2em;
					padding: 20px 0 18px;
					height: auto;
					color: var(--color-primary);
				}
				.button{
					border: none;
					border-radius: 50px;
				}
				.prev-btn,
				.next-btn{
					width: 40px;
					height: 40px;
					padding: 0;
					font-size: 0;
						&:before{
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-repeat: no-repeat;
							background-size: 24px;
							background-position: center;
						}
				}
				.prev-btn{
					&:before{
						background-image: url(../images/chevron-left.svg);
					}
				}
				.next-btn{
					&:before{
						background-image: url(../images/chevron-right.svg);
					}
				}
		}
		&-view{
				.dow{
					flex: 1;
					font-weight: normal;
					font-size: 12px;
					line-height: 20px;
					height: 20px;
					text-transform: uppercase;
					margin: 0;
				}
				.days{
					flex-basis: auto;
						&-of-week{
							padding: 8px 32px;
							margin: 8px 0;
								@include d($xs){
									padding: 8px 19px;
								}
						}
				}
				&.datepicker-grid{
						.datepicker-cell{
							height: 60px;
							width: 60px;
							min-width: 60px;
							line-height: 60px;
						}
				}
		}
		&-dropdown{
			top: auto;
			left: auto;
				.datepicker{
						&-picker{
							background: linear-gradient(174.37deg, rgba(255, 255, 255, 0.4) 1.7%, rgba(255, 255, 255, 0.1) 96.97%);
							background-color: var(--color-white);
							box-shadow: 0 9px 18px -1px rgba(6, 73, 35, 0.12);
							backdrop-filter: blur(70px);
							border-radius: 20px;
						}
				}
		}
		@include d($xs){
			width: 338px;
		}
}