.filters{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
		&-item{
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 0 18px;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
						.dropdown-body{
							left: auto;
							right: 0;
						}
				}
		}
		&-panel{
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px var(--color-gray-700) solid;
			padding: 10px 0 13px;
				&-item{
					.filters{
						@include d($xs){
							width: 100%;
							justify-content: space-between;
						}
					}
					@include d($xs){
						width: 100%;
						margin-bottom: 16px;
					}
				}
				@include d($xs){
					flex-direction: column;
					align-items: flex-start;
				}
		}
}