.filters{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
		&-item{
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 0 18px;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
						.dropdown-body{
							left: auto;
							right: 0;
						}
				}
		}
}