.header{
	position: relative;
	padding-top: 17px;
	z-index: 3;
		&-panel{
			display: flex;
			align-items: center;
			margin-bottom: 12px;
			position: relative;
				&-search{
					flex: 1;
					padding-left: 66px;
						.search{
							.input{
								padding-right: 0;
									& ~ .input-container-icon{
										.svg{
											color: var(--color-primary);
										}
									}
							}
						}
						@include d($xl){
							padding-left: 33px;
							padding-bottom: 7px;
						}
						@include d($sm){
							display: flex;
							justify-content: flex-end;
							padding-bottom: 9px;
						}
				}
				&-nav{
					flex: 1;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					height: 64px;
					position: relative;
					padding-right: 40px;
					padding-bottom: 5px;
					transition: opacity var(--hover-duration) var(--hover-ease), transform var(--hover-duration) var(--hover-ease);
						&:after{
							content: '';
							position: absolute;
							width: 1px;
							height: 100%;
							top: 0;
							right: 0;
							background-color: var(--color-gray-700);
						}
						.link{
							margin: 0 21px;
								&:nth-child(1){
									margin-left: 0;
								}
								&:last-child{
									margin-right: 0;
								}
						}
						@include d($lg){
							padding-right: 20px;
						}
						@include d($xl){
							display: none;
						}
				}
				&-action{
					flex: 1;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					padding-left: 40px;
					padding-bottom: 5px;
					position: relative;
					z-index: 1;
					transition: opacity var(--hover-duration) var(--hover-ease), transform var(--hover-duration) var(--hover-ease);
						& > .link, .btn{
							margin: 0 20px;
								&:nth-child(1){
									margin-left: 0;
								}
								&:last-child{
									margin-right: 0;
								}
								@include d($lg){
									margin: 0 15px;
								}
						}
						.personal-tree{
							margin-right: 0;
						}
						.dropdown{
							display: inherit;
						}
						@include d($lg){
							padding-left: 20px;
						}
						@include d($xl){
							padding-bottom: 7px;
						}
						@include d($sm){
							padding-bottom: 10px;
							padding-left: 0;
							max-width: 63px;
						}
				}
				&-filters{
					position: absolute;
					top: 0;
					right: 0;
					opacity: 0;
					pointer-events: none;
					height: 100%;
					transform: translateY(-20px);
					transition: opacity var(--hover-duration) var(--hover-ease), transform var(--hover-duration) var(--hover-ease);
						&.__mobile{
							display: none;
							left: 0;
							top: calc(100% + 16px);
							border: 1px var(--color-gray-700) solid;
							border-radius: 20px;
							background-color: var(--color-white);
							box-shadow: 0 6px 7px rgba(0, 0, 0, 0.05);
							padding: 30px 32px;
							height: auto;
								&:before{
									content: '';
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 123px;
									background-repeat: no-repeat;
									background-size: contain;
									background-position: right top;
									background-image: url(../images/abstract/box-trees-2.svg);
								}
								.dropdown{
										&-static{
											@include d($sm){
												max-width: 55%;
											}
										}
								}
								@include d($sm){
									padding: 25px 20px;
								}
						}
				}
				&-logo{
					position: relative;
					z-index: 1;
						@include d($xl){
							height: 80px;
						}
				}
				@include d($xl){
					margin-bottom: 2px;
					height: 80px;
				}
				@include d($sm){
					justify-content: flex-end;
					margin-bottom: -3px;
				}
		}
		/*
		Active filters
		 */
		&.is-filters-active{
			.header-panel{
					&-nav,
					&-action{
						opacity: 0;
						pointer-events: none;
						transform: translateY(20px);
							@include d($sm){
								max-width: 120px;
							}
					}
					&-filters{
							&:not(.__mobile){
								opacity: 1;
								pointer-events: auto;
								transform: translateY(0);
							}
					}
					&-logo{
						@include d($sm){
							display: none;
						}
					}
					&-search{
						@include d($sm){
							padding-left: 0;
						}
					}
					.search{
						@include d($sm){
							width: 100%;
						}
					}
			}
		}
		&.is-mobile-filters-active{
			@include d($xl){
				.header-panel{
						&-filters{
							&.__mobile{
								display: block;
								opacity: 1;
								pointer-events: auto;
								transform: translateY(0);
							}
						}
				}
			}
		}
		/*
		Filters
		 */
		.filters{
			padding-bottom: 5px;
				&-item{
					height: 64px;
					padding: 0 10px;
						@include m($sm + 1) {
							padding: 0 32px;
								&:not(:last-child){
									&:after{
										content: '';
										position: absolute;
										top: 0;
										right: 0;
										width: 1px;
										height: 100%;
										background-color: var(--color-gray-700);
									}
								}
						}
				}
		}
		/*
		Table, phone nav
		 */
		&-nav{
			position: absolute;
			top: 8px;
			left: 13px;
			right: 13px;
			height: auto;
			border-radius: 20px;
			background-color: var(--color-white);
			border: 1px var(--color-gray-700) solid;
			box-shadow: 0 6px 7px rgba(0, 0, 0, 0.05);
			padding: 85px 35px 25px;
			display: none;
				@include d($sm){
					height: calc(100vh - 13px);
					padding: 70px 10px 25px;
				}
				&-tablet{
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding-top: 30px;
					position: relative;
						.border-vertical{
							height: 64px;
						}
						@include d($sm){
							display: none;
						}
				}
				&-phone{
					height: 100%;
					position: relative;
					padding: 40px 20px 80px;
					display: flex;
					flex-direction: column;
					min-height: 310px;
						@include m($sm + 1){
							display: none;
						}
						.link{
								&-absolute{
									position: absolute;
									bottom: 20px;
									left: 20px;
								}
								&:not(:last-child){
									margin-bottom: 24px;
								}
						}
				}
		}
		&-copyright{
			position: absolute;
			bottom: 0;
			left: 20px;
			font-size: 10px;
		}
		@include d($xl){
			padding-top: 10px;
		}
		@include d($sm){
			padding-top: 5px;
			margin-bottom: 25px;
		}
}