.input{
	width: 100%;
	border: 1px transparent solid;
	background-color: var(--color-gray-400);
	border-radius: 20px;
	height: 56px;
	padding: 0 24px;
	font-size: 14px;
	font-family: var(--font-base-italic);
	transition: border-color var(--hover-duration) var(--hover-ease);
		&:focus{
			border-color: var(--color-primary);
		}
		@include hover($md){
			&:hover{
				border-color: var(--color-primary);
			}
		}
		&-container{
			position: relative;
			display: block;
				&-icon{
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					pointer-events: none;
					height: 24px;
						&.__16{
							height: 16px;
						}
						&.__24{
							height: 24px;
						}
						&.__32{
							height: 32px;
						}
						&.__48{
							height: 48px;
						}
						&.__64{
							height: 64px;
						}
						&.__right{
							left: auto;
							right: 25px;
						}
				}
				&-checkbox{
					width: 30px;
					height: 20px;
				}
				&-datepicker{
					&.__bottom{
						.datepicker-dropdown{
							bottom: 100%;
							top: auto !important;
						}
					}
					&.__right{
						.datepicker-dropdown{
							right: 0;
							left: auto !important;
								@include d($xs){
									right: -30px;
								}
						}
					}
					&.__left{
						.datepicker-dropdown{
							left: 0;
							right: auto;
						}
					}
					&.__top{
						.datepicker-dropdown{
							top: 100%;
						}
					}
				}
				&-select{
					&:before{
						content: '';
						position: absolute;
						right: 28px;
						top: 52%;
						transform: translateY(-50%);
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 7px 4px 0 4px;
						border-color: currentColor transparent transparent transparent;
						pointer-events: none;
					}
				}
		}
		& ~ .input-container-icon{
			.svg{
				color: var(--color-gray-800);
			}
		}
		/*
		Types
		 */
		&-transparent{
			border-radius: 0;
			border: none;
			height: 46px;
			background-color: transparent;
			padding-left: 45px;
			cursor: pointer;
			color: var(--color-gray-800);
				&:focus{
					color: var(--color-primary);
						& ~ .input-container-icon{
							.svg{
								color: var(--color-primary);
							}
						}
				}
		}
		/*
		Checkbox
		 */
		&-checkbox{
			width: 10px;
			height: 10px;
			position: absolute;
			padding: 0;
			opacity: 0;
				&-icon{
					position: absolute;
					width: 16px;
					height: 16px;
					border-radius: 5px;
					background-color: transparent;
					top: 2px;
						&:before{
							content: '';
							position: absolute;
							inset: 0;
							border: 1px var(--color-primary) solid;
							border-radius: 5px;
						}
						.svg{
							color: var(--color-white);
							opacity: 0;
							z-index: 1;
							position: relative;
						}
				}
				&-title{
					display: inline-block;
					position: relative;
					cursor: pointer;
					font-family: var(--font-base-medium);
					font-size: 14px;
				}
				& ~ .input-checkbox-title{
					padding-left: 32px;
				}
				&:checked{
					& ~ .input-checkbox-icon{
							&:before{
								background-color: var(--color-primary);
							}
							.svg{
								opacity: 1;
							}
					}
				}
		}
		/*
		Checkbox sizes
		 */
		&-checkbox{
				&-sm{
					& ~ .input{
							&-checkbox{
									&-title{
										font-size: 12px;
										font-family: var(--font-base);
									}
							}
					}
				}
		}
		/*
		Radio
		 */
		&-radio{
			@extend .input-checkbox;
				&-icon{
					position: absolute;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					top: 2px;
					border: 1px var(--color-gray-700) solid;
						&:before{
							content: '';
							position: absolute;
							inset: 3px;
							background-color: var(--color-primary);
							border-radius: 50%;
							opacity: 0;
						}
				}
				&-title{
					display: inline-block;
					position: relative;
					cursor: pointer;
					font-family: var(--font-base-medium);
					font-size: 14px;
				}
				& ~ .input-radio-title{
					padding-left: 32px;
				}
				&:checked{
					& ~ .input-radio-icon{
						border-color: var(--color-primary);
							&:before{
								opacity: 1;
							}
					}
				}
		}
		/*
		Datepicker
		 */
		&-datepicker{
			cursor: pointer;
		}
		&[disabled]{
			color: var(--color-white);
			pointer-events: none;
		}
		/*
		Placeholder
		 */
		&::-webkit-input-placeholder {
			color: inherit;
		}
		&::-moz-placeholder {
			color: inherit;
		}
		&:-ms-input-placeholder {
			color: inherit;
		}
		&:-moz-placeholder {
			color: inherit;
		}
}

/*
Select
 */
.select{
	@extend .input;
}