.input{
	width: 100%;
	border: 1px transparent solid;
	background-color: var(--color-gray-400);
	border-radius: 20px;
	height: 56px;
	padding: 0 24px;
	font-size: 14px;
	font-family: var(--font-base-italic);
	transition: border-color var(--hover-duration) var(--hover-ease);
		&:focus{
			border-color: var(--color-primary);
				& ~ .input-container-icon{
					.svg{
						color: var(--color-primary);
					}
				}
		}
		@include hover($md){
			&:hover{
				border-color: var(--color-primary);
			}
		}
		@include d($sm){
			height: 48px;
		}
		&-container{
			position: relative;
			display: block;
				&-icon{
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					pointer-events: none;
					height: 24px;
					padding: 0;
					border: none;
					background-color: transparent;
						&.__16{
							height: 16px;
						}
						&.__24{
							height: 24px;
						}
						&.__32{
							height: 32px;
						}
						&.__48{
							height: 48px;
						}
						&.__64{
							height: 64px;
						}
						&.__right{
							left: auto;
							right: 25px;
						}
						&.__click-trigger{
							pointer-events: initial;
						}

				}
				&-checkbox{
					width: 30px;
					height: 20px;
					position: relative;
				}
				&-datepicker{
					&.__bottom{
						.datepicker-dropdown{
							bottom: 100%;
							top: auto !important;
						}
					}
					&.__right{
						.datepicker-dropdown{
							right: 0;
							left: auto !important;
								@include d($xs){
									right: -30px;
								}
						}
					}
					&.__left{
						.datepicker-dropdown{
							left: 0;
							right: auto;
						}
					}
					&.__top{
						.datepicker-dropdown{
							top: 100% !important;
						}
					}
				}
				&-select{
					&:before{
						content: '';
						position: absolute;
						right: 28px;
						top: 52%;
						transform: translateY(-50%);
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 7px 4px 0 4px;
						border-color: currentColor transparent transparent transparent;
						pointer-events: none;
					}
				}
				&-file{
					display: flex;
					align-items: center;
						.upload-file + .upload-text {
							margin-left: 30px;
						}
						.upload-text + .upload-file{
							margin-right: 30px;
						}
				}
				&-group{
					margin-bottom: 32px;
						@include d($sm){
							margin-bottom: 8px;
						}
				}
		}
		& ~ .input-container-icon{
			.svg{
				color: var(--color-gray-800);
			}
		}
		/*
		Types
		 */
		&-transparent{
			border-radius: 0;
			border: none;
			height: 46px;
			background-color: transparent;
			padding-left: 45px;
			cursor: pointer;
			color: var(--color-gray-800);
				&:focus{
					color: var(--color-primary);
						& ~ .input-container-icon{
							.svg{
								color: var(--color-primary);
							}
						}
				}
		}
		/*
		Checkbox
		 */
		&-checkbox{
			width: 10px;
			height: 10px;
			position: absolute;
			padding: 0;
			opacity: 0;
				& ~ .input-checkbox-title{
					padding-left: 32px;
				}
				&-icon{
					position: absolute;
					width: 16px;
					height: 16px;
					border-radius: 5px;
					background-color: transparent;
					top: 2px;
						&:before{
							content: '';
							position: absolute;
							inset: 0;
							border: 1px var(--color-primary) solid;
							border-radius: 5px;
						}
						.svg{
							color: var(--color-white);
							opacity: 0;
							z-index: 1;
							position: relative;
						}
				}
				&-title{
					display: inline-block;
					position: relative;
					cursor: pointer;
					font-family: var(--font-base-medium);
					font-size: 14px;
				}
				&-switcher{
					display: inline-block;
					position: absolute;
					width: 32px;
					height: 22px;
					background-color: var(--color-gray-700);
					border-radius: 24px;
					top: -2px;
					transition: background-color var(--hover-duration) var(--hover-ease);
						&:before{
							content: '';
							position: absolute;
							width: 18px;
							height: 18px;
							border-radius: 50%;
							background-color: var(--color-white);
							top: 2px;
							left: 2px;
							transition: left var(--hover-duration) var(--hover-ease);
						}
						& ~ .input-checkbox-title{
							padding-left: 46px;
						}
				}
				&:checked{
					& ~ .input-checkbox-icon{
							&:before{
								background-color: var(--color-primary);
							}
							.svg{
								opacity: 1;
							}
					}
					& ~ .input-checkbox-switcher{
						background-color: var(--color-primary);
							&:before{
								left: 11px;
							}
					}
				}
		}
		/*
		Checkbox sizes
		 */
		&-checkbox{
				&-sm{
					& ~ .input{
							&-checkbox{
									&-title{
										font-size: 12px;
										font-family: var(--font-base);
									}
							}
					}
				}
		}
		/*
		Radio
		 */
		&-radio{
			@extend .input-checkbox;
				&-icon{
					position: absolute;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					top: 2px;
					border: 1px var(--color-gray-700) solid;
						&:before{
							content: '';
							position: absolute;
							inset: 3px;
							background-color: var(--color-primary);
							border-radius: 50%;
							opacity: 0;
						}
				}
				&-title{
					display: inline-block;
					position: relative;
					cursor: pointer;
					font-family: var(--font-base-medium);
					font-size: 14px;
				}
				& ~ .input-radio-title{
					padding-left: 32px;
				}
				&:checked{
					& ~ .input-radio-icon{
						border-color: var(--color-primary);
							&:before{
								opacity: 1;
							}
					}
				}
		}
			/*
		Search-tags-input
		 */
		&-tags{
			@extend .input;
			height: initial;
			min-height: 56px;
			max-height: 100%;
			position: relative;
			display: flex;
			align-items: center;
			margin: 0 0 32px 0;
				&-text{
					flex-grow: 1;
					background: transparent;
					border: none;
					height: 100%;
				}
				&-suggestions{
					position: absolute;
					z-index: 2;
					width: 100%;
					top: 64px;
					left: 0;
				}
				&-body{
					&.has-suggestions{
						background: var(--color-white);
						border: 1px solid var(--color-gray-700);
						border-radius: 20px;
						box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.05);
						padding: 24px;
					}
					li{
						@extend h4;
						margin: 16px 0 0 0;
						cursor: pointer;
						&:first-child{
							margin: 0;
						}
						strong{
							@extend  h4;
							color: var(--color-primary);
						}
					}
				}
				&-results{
					display: flex;
					flex-wrap: wrap;
					margin: -2px 0;
					padding: 10px 0;
				li{
					@extend h5;
					position: relative;
					text-transform: uppercase;
					color: var(--color-white);
					background: var(--color-events);
					border-radius: 500px;
					padding: 0 15px 0 5px;
					margin: 2px 8px 2px 0;
					span{
						position: absolute;
						cursor: pointer;
						top: 50%;
						transform: translateY(-50%);
						right: 5px;
						width: 8px;
						height: 8px;
						background: url('../images/sign-in/cross.svg');
					}
				}
			}
		}
		/*
		Datepicker
		 */
		&-datepicker{
			cursor: pointer;
		}
		&[disabled]{
			color: var(--color-white);
			pointer-events: none;
		}
		/*
		Placeholder
		 */
		&::-webkit-input-placeholder {
			color: inherit;
		}
		&::-moz-placeholder {
			color: inherit;
		}
		&:-ms-input-placeholder {
			color: inherit;
		}
		&:-moz-placeholder {
			color: inherit;
		}
}

/*
Select
 */
.select{
	@extend .input;
}

/*
Textarea
 */
.textarea{
	@extend .input;
	padding: 16px 24px;
	min-height: 104px;
}