.tooltip{
	position: relative;
		&-body{
			position: absolute;
			top: 100%;
			left: 0;
			display: none;
			align-items: center;
			font-size: 12px;
			color: var(--color-primary);
			border: 2px var(--color-white) solid;
			background-color: var(--color-white);
			border-radius: 20px;
			padding: 5px 16px;
				&-item{
					display: flex;
					align-items: center;
					white-space: nowrap;
				}
				&-close{
					height: 16px;
					width: 16px;
					margin-left: 22px;
						.svg{
							padding: 3px;
						}
						@include m($md){
							cursor: pointer;
						}
				}
				.svg{
					margin-right: 8px;
				}
		}
		&.is-active{
			.tooltip{
				&-body{
					display: flex;
				}
			}
		}
}