.tree{
	position: relative;
	margin-top: -33px;
	margin-right: -27px;
		&-title{
			position: absolute;
			top: 64px;
			left: 0;
			max-width: 150px;
		}
		&-links{
			position: absolute;
			top: 40px;
			left: 0;
			z-index: 1;
		}
		&-categories{
			position: absolute;
			inset: 0;
			pointer-events: none;
			z-index: 1;
				&-item{
					position: absolute;
					text-transform: uppercase;
					color: var(--color-white);
					opacity: 0;
						&[data-branch-id="branch-1"]{
							top: 35.4%;
							left: 34.2%;
							transform: rotate(24deg);
						}
						&[data-branch-id="branch-2"]{
							top: 40.6%;
							left: 50.8%;
							transform: rotate(-6deg);
						}
						&[data-branch-id="branch-3"]{
							top: 58%;
							left: 31.2%;
							transform: rotate(14deg);
						}
						&[data-branch-id="branch-4"]{
							top: 58.2%;
							left: 58.8%;
							transform: rotate(-16deg);
						}
						&[data-branch-id="branch-5"]{
							left: 34.8%;
							top: 79.2%;
							transform: rotate(-13deg);
						}
						&[data-branch-id="branch-6"]{
							top: 78%;
							left: 61.4%;
							transform: rotate(-11deg);
						}
				}
		}
		&-events{
			position: absolute;
			inset: 0;
			pointer-events: none;
			z-index: 1;
				&-item{
					position: absolute;
					max-width: 90px;
					text-align: center;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					opacity: 0;
						span{
							display: inline-block;
							max-width: 80%;
							word-break: break-word;
						}
						&:nth-child(1){
							span{
								transform: rotate(-50deg);
							}
						}
						&:nth-child(3){
							span{
								transform: rotate(20deg);
							}
						}
						&:nth-child(4){
							span{
								transform: rotate(-50deg);
							}
						}
						&:nth-child(7){
							span{
								transform: rotate(-15deg);
							}
						}
						&:nth-child(10){
							span{
								transform: rotate(-5deg);
							}
						}
						&:nth-child(16){
							span{
								transform: rotate(-15deg);
							}
						}
						&:nth-child(18){
							span{
								transform: rotate(32deg);
							}
						}
				}
		}
		&-svg{
			max-width: 892px;
			width: 100%;
			position: relative;
		}
}

.branch,
.stem{
	fill: var(--color-black-100);
}

.branch{
	cursor: pointer;
}
.leaf{
	cursor: pointer;
}