.sign-in{
  &.approval{
    .section-description{
      margin: 0 0 26px 0;
      padding: initial;
    }
    .sign-form{
      max-width: 623px;
      left: initial;
      transform: translateY(-50%);
      .section-title{
        margin: 0 0 18px 0;
      }
      &-img{
        width: 64px;
        height: 64px;
        margin: 0 0 21px 0;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .input-container{
        margin: 0 32px 0 0;
        flex: 0 1 307px;
      }
      &-content{
        display: flex;
        flex-direction: initial;
      }
      .btn{
        flex: 0 1 184px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .sign-in{
    &.approval{
      &.sign-in-mobile{
        .sign-form{
          padding: 100px 48px;
          &-content{
            flex-direction: column;
            .input-container{
              flex: initial;
            }
            .btn{
              flex: initial;
            }
          }
        }
      }
    }
  }
}

