.header-s{
  position: fixed;
  z-index: 10;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 70px;
  &-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo{
    width: 96px;
    height: 46px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-panel-link{
    a{
      text-indent: 5px;
      color: var(--color-primary);
      transition: 300ms;
      &:hover{
        color: var(--color-local);
      }
    }
  }
}