.selected{
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
    &.active{
      opacity: 1;
      pointer-events: initial;
    }
    &-wrapper{
      position: absolute;
      z-index: 10;
      //top: 50%;
      //left: 50%;
      //transform: translate(-50%, -50%);
      max-width: 420px;
      //height: 100%;
      //max-height: 610px;
      width: 100%;
      box-sizing: content-box;
    }
    &-content{
      overflow: hidden;
      background-color: var(--color-white);
      //margin: 0 20px;
    }
    &-bg{
      position: absolute;
      top: -10px;
      left: 151px;
      width: 510px;
      height: 197px;
    }
    &-top{
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0 20px 0;
      border-bottom: 1px solid var(--color-gray-700);
      .section-title{
        margin: 0!important;
        color: var(--color-primary);
      }
    }
    &-cross{
      position: relative;
      cursor: pointer;
      width: 16px;
      height: 16px;
      padding: 3px;
      box-sizing: content-box;
      span{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 3px;
        background: var(--color-black-100);
        &:first-child{
          transform: translateY(-50%) rotate(45deg);
        }
        &:last-child{
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
    &-list{
      position: relative;
      z-index: 2;
      max-height: 395px;
      overflow-y: auto;
        &:empty{
            &:before{
              content: 'You don’t have selected leaves. ';
              position: absolute;
              width: 100%;
              text-align: center;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }
            &.scroll-wrap{
              padding-bottom: 20px;
              min-height: 200px;
            }
        }
        &.scroll-wrap{
          margin-top: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .link{
          font-family: var(--font-base);
        }
    }
    &-link{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0 0 0;
      &:first-child{
        margin: 0;
      }
      &-remove{
        display: flex;
        align-items: center;
        max-height: 24px;
        cursor: pointer;
          .link{
              &-icon{
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 2px var(--color-alumni) solid;
                position: relative;
                  &:before,
                  &:after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 11px;
                    height: 2px;
                    background-color: var(--color-alumni);
                    border-radius: 2px;
                  }
                  &:before{
                    transform: translate(-50%,-50%) rotate(-45deg);
                  }
                  &:after{
                    transform: translate(-50%,-50%) rotate(45deg);
                  }
              }
          }
      }
      &-name{
        margin: 0 0 0 16px;
        .section-title{
          margin: 0!important;
        }
      }
      &-event{
  
      }
      &-text{
        padding: 0 8px;
      }
      &-cross{
        width: 24px;
        height: 24px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-img{
        width: 64px;
        height: 64px;
        border-radius: 10px;
        overflow: hidden;
          img{
            @include imageCover(center);
          }
      }
      &-club{
        display: flex;
        align-items: center;
      }
    }
    &-buttons{
      position: relative;
      z-index: 2;
      padding: 18px 0 0 0;
      border-top: 1px solid var(--color-gray-700);
      .btn{
        width: 100%;
        max-width: 184px;
        height: 56px;
      }
    }
}

@media (max-width: 1023px) {
  .selected{
    margin: 0 0 0 10px;
    &-link{
      &-text{
        display: none;
      }
    }
  }
}
@media (max-width: 767px) {
  .selected{
    margin: 0;
    overflow-y: initial;
  }
}