.sign-in{
  .steps{
    &-content{
      display: none;
      min-height: 100%;
      flex-direction: column;
      max-width: 660px;
      padding: 0 0 0 40px;
      box-sizing: content-box;
      margin: 0 auto;
      &-wrapper{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
      }
      .section-title{
        margin: 51px 0 37px 0;
      }
      &.active{
        display: flex;
      }
    }
    &-item{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &-left{
        .section-title{
          margin: 0 0 16px 0;
        }
        .section-description{
          padding: 0;
        }
      }
    }
    &-positions{
      position: relative;
      display: flex;
      justify-content: space-between;
      margin: 0 0 74px 0;
      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background: var(--color-gray-700);
      }
      span{
        position: relative;
        z-index: 2;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 6px solid var(--color-primary);
        background-color: var(--color-primary);
        svg{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 16px;
          height: 16px;
          color: var(--color-white);
        }
        &.active{
          border: 6px solid var(--color-primary);
          background-color: var(--color-white);
          svg{
            display: none;
          }
          & ~ span{
            background-color: var(--color-white);
            border-color: var(--color-gray-700);
            border-width: 1px;
            svg{
              display: none;
            }
          }
        }
      }
    }
    &-buttons{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 0;
      .btn{
        max-width: 183px;
        width: 100%;
      }
      .sign-form-btn-forgot{
        position: relative;
        margin: 0 auto;
        padding: 0 15px 0 24px;
        svg{
          position: absolute;
          width: 14px;
          height: 9px;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
      &.space{
        justify-content: space-between;
      }
    }
    &-inputs{
      margin: 28px 0 0 0;
      .input-container{
        margin: 0 0 32px 0;
        &:last-child{
          margin: 0;
        }
      }
      &-wrapper{
        display: flex;
        .input-container{
          flex: 1 1 50%;
          margin: 0;
          &:first-child{
            margin: 0 32px 0 0;
          }
        }
      }
    }
    &-congratulation{
      display: flex;
      flex: 1 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 246px;
      margin: 0 auto;
      text-align: center;
      .section-title{
        margin: 0 0 18px 0;
      }
      .section-description{
        padding: 0;
        margin: 0 0 27px 0;
      }
    }
    &-img{
      width: 65px;
      height: 65px;
      margin: 0 0 26px 0;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 1439px) {
  .sign-in{
    &.steps-mobile{
      .sign-in{
        &-content{
          .sign-in-img{
            min-height: 500px;
            box-sizing: content-box;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .sign-in{
    &.steps-mobile{
      .sign-in{
        &-content{
          .sign-in-img{
            min-height: 400px;
          }
        }
      }
      .steps{
        &-inputs-wrapper{
          flex-direction: column;
        }
        &-buttons{
          flex-direction: column;
          margin: 24px 0;
          .btn{
            max-width: 100%;
          }
          .btn + .sign-form-btn-forgot{
            margin: 16px 0 0 0;
          }
          .btn + .sign-form-btn-forgot + .btn-outline{
            margin: 16px 0 0 0;
          }
          .btn + .btn-outline{
            margin: 16px 0 0 0;
          }
        }
        &-inputs{
          margin: 0;
          .input-container{
            margin: 24px 0;
            &:last-child{
              margin: 0;
            }
          }
          .input-tags{
            margin: 36px 0 0 0;
          }
          &-wrapper{
            margin: 0;
          }
        }
      }
    }
  }
}

@media(max-width: 1023px){
  .sign-in{
    &.steps-mobile{
      .sign-in{
        &-content{
          .sign-in-img{
            min-height: 275px;
          }
        }
        &-left-side{
          .section-title{
            padding: 0 10px 44px;
          }
        }
      }
      .steps{
        &-item{
          align-items: flex-start;
          flex-direction: column;
        }
        &-item-right{
          width: 100%;
          margin: 8px 0 0 0;
          .btn{
            max-width: 100%;
            width: 100%;
          }
        }
        &-inputs{
          .input-tags{
            margin: 36px 0 24px 0;
          }
        }
        &-inputs-wrapper{
          .input-container{
            margin: 0 0 24px 0;
            &:last-child{
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 767px){
  .sign-in{
    &.steps-mobile{
      background: initial;
      &.active{
        overflow-y: hidden;
        .sign-in{
          &-left-side{
            animation: show-tree 2500ms linear forwards;
            @keyframes show-tree{
              0%{
                opacity: 1;
              }
              90%{
                opacity: 1;
              }
              100%{
                opacity: 0;
                pointer-events: none;
              }
            }
          }
        }
      }
      .steps{
        &-content{
          padding: 0;
          &-wrapper > .section-title{
            display: none;
          }
        }
        &-positions{
          margin: 106px 0 74px 0;
        }
      }
      .sign-in{
        &-left-side{
          position: fixed;
          opacity: 0;
          pointer-events: none;
          background: var(--color-primary);
          z-index: 3;
          top: 0;
          left: 0;
          width: 100%;
        }
        &-right-side{
          position: relative;
          flex: 0 1 100%;
        }
        &-content{
          padding: 0;
          .sign-in-img{
            height: 485px;
          }
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .sign-in{
    &.steps-mobile{
      .sign-in{
        &-content{
          .sign-in-img{
            height: 400px;
          }
        }
      }
    }
  }
}

@media (max-width: 424px) {
  .sign-in{
    &.steps-mobile{
      .sign-in{
        &-content{
          .sign-in-img{
            height: 310px;
          }
        }
      }
    }
  }
}


