.branch-filter{
	margin-top: -27px;
		&-box{
			margin-top: -20px;
			padding-left: 0;
			margin-bottom: 50px;
			height: auto;
			position: relative;
				&:before{
					content: '';
					position: absolute;
					right: -52px;
					top: 54%;
					width: 100px;
					height: 100px;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					background-image: url(../images/abstract/leaf.svg);
				}
				.box{
					opacity: 1;
						&-bg{
							&:before{
								height: 182px;
								background-image: url(../images/abstract/box-trees-2.svg);
							}
						}
						&-header{
								&-row{
									margin-bottom: 15px;
								}
						}
				}
		}
}